services:
  device_agent:
    image: spaneng/doover_device_agent:apps
    network_mode: host
    volumes:
      - ./dda_config.json:/var/lib/dds/agent/config.json

  modbus_iface:
    image: spaneng/doover_modbus_iface
    network_mode: host

  modbus_server:
    build: .
    network_mode: host

  sample_application:
    build: ../
    restart: unless-stopped
    network_mode: host
    depends_on:
      - device_agent
      - modbus_iface
      - modbus_server
    environment:
      - APP_KEY=test_app_key
      - CONFIG_FP=/sim/app_config.json
    volumes:
      - ./:/sim
